<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Liste des demandes - IT-Corporation</title>

    <!-- Vendor CSS Files -->
    <link th:href="@{/conge/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/vendor/simple-datatables/style.css}" rel="stylesheet">
    <link th:href="@{/conge/assets/css/style.css}" rel="stylesheet">

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        button {
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            font-size: 14px;
        }
        .status-button {
            padding: 6px 12px;
            border-radius: 40px;
            color: white;
            font-weight: bold;
            text-align: center;
            border: none;
            cursor: default;
        }
        .valid {
            background-color: lightgreen;
            color: black;
        }
        .en-attente {
            background-color: yellow;
            color: black;
        }
        .valider-button {
            background-color: green;
            color: white;
        }
        .annuler-button {
            background-color: red;
            color: white;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img th:src="@{/conge/assets/img/logo.png}" alt="">
                <span class="d-none d-lg-block">IT-Corporation</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="@{/conge/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>Mon profil</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Se déconnecter</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- ======= End Header ======= -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-item">
            <a class="nav-link " href="index.html">
              <i class="bi bi-grid"></i>
              <span>Accueil</span>
            </a>
          </li><!-- End Dashboard Nav -->
    
          <li class="nav-item" >
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Congé</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{demandes/form}">
                      <i class="bi bi-circle"></i><span>Demande congé</span>
                    </a>
                  </li>
                  <li>
                    <a th:href="@{demandes}">
                      <i class="bi bi-circle"></i><span>Suivi congé & historique [Admin]</span>
                    </a>
                  </li>
                  <li>
                    <a th:href="@{demandes/emp}">
                      <i class="bi bi-circle"></i><span>Suivi congé & historique [Personnel]</span>
                    </a>
                  </li>
    
            </ul>
          </li><!-- End Conge Nav -->
    
    
        </ul>
    
      </aside><!-- End Sidebar-->
    <!-- ======= End Sidebar ======= -->

    <!-- ======= Main Content ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Liste des demandes de congé</h1>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Notifications des demandes</h5>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nom du Personnel</th>
                                        <th>Date de la demande</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Statut</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="demande : ${demandes}">
                                        <td>
                                            <a th:href="@{/demandes/solde/{id}(id=${demande.personnel.idPersonnel})}">
                                                <span th:text="${demande.personnel != null ? (demande.personnel.prenom + ' ' + demande.personnel.nom) : 'Non défini'}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${#dates.format(demande.dateDemande, 'dd-MM-yyyy')}"></td>
                                        <td th:text="${#dates.format(demande.dateDebut, 'dd-MM-yyyy')}"></td>
                                        <td th:text="${#dates.format(demande.dateFin, 'dd-MM-yyyy')}"></td>
                                        <td>
                                            <button class="status-button" 
                                                    th:class="${demande.statut == 'Validée' ? 'valid' : (demande.statut == 'En attente' ? 'en-attente' : '')}"
                                                    disabled="disabled" 
                                                    th:text="${demande.statut}"></button>
                                        </td>
                                        <td>
                                            <form th:action="@{/demandes/valider/{id}(id=${demande.idDemande})}" method="post" style="display:inline;">
                                                <button class="valider-button" type="submit">Approuver</button>
                                            </form>
                                            <form th:action="@{/demandes/annuler/{id}(id=${demande.idDemande})}" method="post" style="display:inline;">
                                                <button class="annuler-button" type="submit">Refuser</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                           

                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- ======= End Main Content ======= -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>IT-Corporation</span></strong>. Tous droits réservés.
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer>
    <!-- ======= End Footer ======= -->

    <script th:src="@{/conge/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/conge/assets/js/main.js}"></script>

    <script th:src="@{/conge/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    
</body>

</html>
