<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Rupture de Contrat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Ajouter une Rupture de Contrat</h1>
    <form action="/rupture/save" method="post" enctype="multipart/form-data">
        <!-- Type de Rupture -->
        <div>
            <label for="idRupture">Type de Rupture :</label>
            <select id="idRupture" name="idRupture" required>
                <option value="" disabled selected>-- Sélectionnez un type --</option>
                <th:block th:each="rupture : ${ruptureList}">
                    <option th:value="${rupture.idRupture}" th:text="${rupture.types}"></option>
                </th:block>
            </select>
        </div>

        <!-- Date de Notification -->
        <div>
            <label for="dateNotification">Date d'Ajout :</label>
            <input type="date" id="dateNotification" name="dateNotification" required>
        </div>

        <!-- Date de Rupture -->
        <div>
            <label for="datePravis">Date de Rupture :</label>
            <input type="date" id="datePravis" name="datePravis" required>
        </div>

        <!-- Personnel -->
        <div>
            <label for="idPersonnel">Pesronnel:</label>
            <select id="idPersonnel" name="idPersonnel" required>
                <option value="" disabled selected>-- Sélectionnez un Personnel --</option>
                <th:block th:each="personnel : ${personnelList}">
                    <option th:value="${personnel.idPersonnel}" th:text="${personnel.nom}"></option>
                </th:block>

            </select>
        </div>        

        <!-- Fichier (Lettre de Rupture) -->
        <div>
            <label for="fichier">Lettre de Rupture :</label>
            <input type="file" id="fichier" name="fichier" accept=".pdf,.doc,.docx,.png,.jpg">
        </div>

        <!-- Bouton de Soumission -->
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</body>
</html>
