<div class="card" th:fragment="content">
    <div class="card-body">
        <h4 class="card-title">Liste candidatures</h4>

        <!-- Dropdown pour filtrage -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                Filtrer par Statut
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                <li>
                    <form id="filterForm" class="px-4 py-3" action="/filtrerCandidatures" method="get">
                        <div class="form-group">
                            <label for="filterStatut">Statut</label>
                            <select class="form-control" id="filterStatut" name="statut">
                                <option value="0">Tous</option>
                                <option value="1">En attente</option>
                                <option value="2">En cours</option>
                                <option value="3">Acceptée</option>
                                <option value="4">Rejetée</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Filtrer</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>email</th>
                        <th>Date postulation</th>
                        <th>Emploi</th>
                        <th>Note candidature</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="candidature : ${listeCandidature}"
                        th:data-id="${candidature.getIdCandidature()}"
                        th:data-nom="${candidature.getCv().getNom()}"
                        th:data-prenom="${candidature.getCv().getPrenom()}"
                        th:data-niveauDiplome="${candidature.getCv().getDiplome().getLibelle()}"
                        th:data-libDiplome="${candidature.getCv().getLibelleDiplome()}"
                        th:data-statutCandidature="${candidature.getStatutCandidature().getLibelle()}"
                        th:data-competence="${candidature.getCv().getCompetence()}"
                        th:data-annee-experience="${candidature.getCv().getAnneesExperience()}"
                        th:data-date-naissance="${candidature.getCv().getDateNaissance()}"
                        th:data-idStatut="${candidature.getStatutCandidature().getIdStatut()}"
                        th:data-email="${candidature.getCandidat().getEmail()}" onclick="showModal(this)">
                        <td th:text="${candidature.getCv().getNom()}"></td>
                        <td th:text="${candidature.getCandidat().getEmail()}"></td>
                        <td th:text="${#temporals.format(candidature.getDatePostulation(), 'dd MMMM yyyy')}"></td>
                        <td th:text="${candidature.getOffreEmploi().getTitrePoste()}"></td>
                        <td  th:if="${candidature.getEvaluation() != null}"><span th:text="${candidature.getEvaluation().getNoteTotale()}"></span></td>
                        <td th:if="${candidature.getEvaluation() == null}"><span>Non évaluée</span></td>
                        <td>
                            <label th:class="'badge ' + 
                                            (${candidature.getStatutCandidature().getIdStatut() == 1} ? 'badge-warning' : 
                                            (${candidature.getStatutCandidature().getIdStatut() == 2} ? 'badge-info' : 
                                            (${candidature.getStatutCandidature().getIdStatut() == 3} ? 'badge-success' : 
                                            'badge-danger')))"
                                th:text="${candidature.getStatutCandidature().getLibelle()}">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
